@media (prefers-color-scheme: dark) {
  html {
    background: black;
  }

  body {
    filter: invert(1) hue-rotate(180deg);
  }
}

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.language-toggle {
  margin-bottom: 20px;
}

.language-button {
  background: white;
  border: 2px solid black;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
}

.content {
  padding-bottom: 50px;
} 